
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  @media (max-width: 600px) {
    
    body{

      background-color: #F15025;


    }
    
    .agenda{

        background-color: #F15025;
        max-width: 100%;
        padding: 0% 0% 0% 0%;
    
    }
  }

  @media (min-width: 600px) {
   
    body{

      background-color: #F15025;


    }
   
    .agenda{
    
        padding: 1% 0% 0% 60%;
        background-color: #F15025;
    
    }
  }

:root {
    
  --primary-color: #F15025;
  --text-color: #1d1d1d;
  --bg-color: #f1f1fb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}
.calendar .header .btns {
  display: flex;
  gap: 10px;
}
.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.calendar .header .btns .btn:hover {
  background-color: #F15025;
  transform: scale(1.05);
}
.weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
}
.days .day:not(.next):not(.prev):hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.05);
}
.days .day.today {
  color: #fff;
  background-color: var(--primary-color);
}
.days .day.next,
.days .day.prev {
  color: #ccc;
}


.clickday{
    
  color: #ccc;
  padding: 10% 40% 20% 40%;
}

/*Adicionador de Tarefas*/
.addTarefas{
  background-color: #fff;
  width: 35%;
  margin: 5% 2% 0% 0%;
  height: 200px;
  float: right;
  display: flex;
  
}

.addTarefas{

  padding: 1%;
  display: inline;
  
}



.addTarefas .NomeTarefa{

  display: flex;
  width: 20%;
  height: 10%;

}

.addTarefas .DescriçãoTarefa{


  display: inline;
  width: 80%;
  height: 60%;

}







  .days .day {
    cursor: pointer;
  }

  .days .day.selected {
    background-color: red;
    color: white;
  }

  .addTarefas {
    display: none;
    /* Outros estilos que você quiser */
  }


