* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
  body {
    background-color: #f15025;
  }
  
  .agenda {
    background-color: #f15025;
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: 600px) {
  body {
    background-color: #f15025;
  }
  
  .agenda {
    padding: 1% 0 0 60%;
    background-color: #f15025;
  }
}

:root {
  --primary-color: #f15025;
  --text-color: #1d1d1d;
  --bg-color: #f1f1fb;
}

body {
  background-color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 18px; /* Diminuído de 25px */
  font-weight: 600;
  color: var(--text-color);
}

.calendar .header .btns {
  display: flex;
  gap: 10px;
}

.calendar .header .btns .btn {
  width: 40px; /* Diminuído de 50px */
  height: 35px; /* Diminuído de 40px */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 14px; /* Diminuído de 16px */
  cursor: pointer;
  transition: all 0.5s;
}

.calendar .header .btns .btn:hover {
  background-color: #f15025;
  transform: scale(1.05);
}

.weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 14px; /* Diminuído de 16px */
  font-weight: 600;
}

.days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.days .day {
  width: calc(100% / 7 - 10px);
  height: 45px; /* Diminuído de 50px */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px; /* Diminuído de 16px */
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
}

.days .day:not(.next):not(.prev):hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.days .day.today {
  color: #fff;
  background-color: var(--primary-color);
}

.days .day.next,
.days .day.prev {
  color: #ccc;
}

.clickday {
  color: #ccc;
  padding: 10% 40% 20% 40%;
}

/* Adicionador de Tarefas */
.addTarefas {
  height: 100;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  background-color: #f1f1fb;
  transition: all 0.5s;
  width: 35%;
  margin: 5% 0 5% 1.5%;
  height: 435px;
  float: right;
  border-radius: 10px;
  padding: 1.5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.addTarefas p {
  transition: all 0.5s;
  font-size: 16px; /* Diminuído de 20px */
  font-weight: 550;
  color: var(--text-color);
  border-bottom: 2px solid #ccc;
  width: 100%;
  text-align: center;
  margin: 3%;
  padding: 10% 1% 8% 1%;
}

.addTarefas .Titulo {
  transition: all 0.5s;
  display: block;
  margin-bottom: 8%;
}

.addTarefas .NomeTarefa {
  transition: all 0.5s;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.addTarefas .DescriçãoTarefa {
  transition: all 0.5s;
  display: block;
  width: 100%;
  height: 55%;
  margin: 0 0 15% 0;
}

.addTarefas .mb-3 {
  font-size: 90%; /* Diminuído de 100% */
}

.days .day {
  cursor: pointer;
}

.days .day.selected {
  background-color: red;
  color: white;
}

.addTarefas {
  display: none;
}

.fixed-text {
  padding: 5px; /* Diminuído de 10px */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px; /* Diminuído de 10px */
  background-color: #f9f9f9;
  font-size: 14px; /* Adicionado para diminuir o tamanho do texto */
}

